@tailwind base;
@tailwind components;
@tailwind utilities;



.bgimage{
  background-image: url("../../public/Left Wing.svg");
  /* height: 100vh; */
  background-size: cover;
  background-repeat: no-repeat;
}
.bgright{
  background-image: url("../../public/right.svg");
  /* height: 100vh; */
  background-size: cover;
  background-repeat: no-repeat;
}
.bigbg{
  background-image: url("../../public/Background svg.svg");
  /* height: 100vh; */
  width: 100vw;
  background-repeat: no-repeat;
}
.bgcard{
  background-image: url("../../public/cardbg.svg");
  height: 232px;
  width: 182px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1376px) {
  /* Styles to apply when width is less than 1377px */
  .disapper {
    display: none;
  }
  .widd{
    flex-basis: 100% !important;
  }
}